@font-face {
    font-family: OpenSauseOneRegular;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Regular.ttf");
}

/* @font-face {
    font-family: OpenSauseOne;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Bold.ttf");
} */

.mainCreateLogo {
    display: flex;
    margin-top: 120px;
    background-color: rgb(225, 255, 1);
    /* width: 110rem; */
    width: 91.5vw;
    height: 48rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-family: OpenSauseOneRegular;
    text-align: left;
    font-size: 60px;
}

.parragrafh {
    font-family: OpenSauseOneRegular;
    text-align: left;
    font-size: 22px;
    padding-bottom: 3rem;
}

.input {
    font-family: OpenSauseOneRegular;
    background: rgb(248, 248, 248);
    padding-left: 30px;
    font-size: 18px;
    border-top: 20px;
    height: 60px;
    width: 30rem;
    border-radius: 2rem;
}

.button {
    font-family: OpenSauseOneRegular;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 1);
    font-size: 18px;
    border-top: 20px;
    height: 65px;
    width: 18rem;
    border-radius: 2rem;
    position: relative;
    left: -7rem;
    z-index: 0;
}

.button:hover {
    cursor: pointer;
}

.mainText {
    width: 45rem;
}


@media (max-width: 1360px) {
    .mainCreateLogo {
        /* height: 55rem; */
        flex-direction: column;
        justify-content: flex-start;
        width: 88vw;
    }
    
    .img {
        margin-top: 3rem;
        max-width: 17rem;
    }
    
    .title {
        width: 20rem;
        text-align: center;
        font-size: 2.5rem;
        /* margin-top: 0; */
        margin-bottom: 0;
    }
    
    .mainText {
        display: flex;
        flex-direction: column;
        width: 20rem;
    }

    .mainTextButton {
        width: 20rem;
        display: flex;
        flex-direction: column;
    }
    .parragrafh {
        text-align: center;
        font-size: 18px;
        padding-bottom: 1rem;
    }

    .input {
        font-size: 15px;
        height: 45px;
        width: 18rem;
    }

    .button {
        font-size: 15px;
        /* border-top: 20px; */
        height: 50px;
        width: 20rem;
        left: 2px;
    }

    .containInput {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 8rem;
    }
}