.mainCreateLogo {
    display: flex;
    margin-top: 110px;
    background-color: rgb(225, 255, 1);
    width: 110rem;
    height: 48rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-around;
}

/* .soonCreateLogo {

} */