.mainExamples {
    margin-top: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3.1vw;
    margin-bottom: 4vw;
}

.containerExample {
    display: flex;
    /* background-color: blue; */
    /* width: 80rem; */
    width: 68vw;
    height: 30vw;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

@media (max-width: 914px) {
    .mainExamples {
        margin-top: 5rem;
    }

    .title {
        width: 40vw;
        font-size: 40px;
        margin-bottom: 1rem;
    }

    .containerExample {
        width: 90vw;
        height: 1000px;

    }
}
