.mainExamples {
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 60px;
    margin-bottom: 5rem;
}

.containerExample {
    display: flex;
    /* background-color: blue; */
    width: 80rem;
    height: 40rem;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

@media (max-width: 1280px) {
    .mainExamples {
        margin-top: 5rem;
    }

    .title {
        width: 40vw;
        font-size: 40px;
        margin-bottom: 1rem;
    }

    .containerExample {
        width: 90vw;
        height: 1000px;

    }
}