.containerExample {
    display: flex;
    width: 13vw;
    height: 13vw;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 1vw;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 13vw;
    height: 13vw;
}

@media (max-width: 914px) {
    .containerExample {
        width: 11rem;
        height: auto;
    }
}

/* @media (max-width: 392px) {
    .containerExample {
        width: 8rem;
    }   
} */