@font-face {
    font-family: OpenSauseOne;
    src: url("./styles/OpenSauseOne/OpenSauceOne-Bold.ttf");
}

@font-face {
    font-family: OpenSauseOneRegular;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Regular.ttf");
}

.mainForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(248, 248, 248);
    width: 110rem;
    height: 48rem;
    border-radius: 2rem;
    align-items: center;
}

.childForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50rem;
    width: 100rem;
}

.input {
    font-family: OpenSauseOneRegular;
    background: rgb(248, 248, 248);
    font-size: 18px;
    width: 45rem;
    text-align: center;
    padding-bottom: 10rem ;
    padding-top: 1rem;
    /* height: 5rem; */
    /* vertical-align:center; */
    border-radius: 1rem;
    resize: none;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: OpenSauseOne;
    background-color: transparent;
    font-size: 18px;
    height: 2rem;
    width: 10rem;
    border: 0;
}

.buttonTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
    color: #E1FF01;;
    font-family: OpenSauseOneRegular;
    font-size: 20px;
    width: 28rem;
    height: 4rem;
    border-radius: 2rem;
    border-color: transparent;
}

.buttonTwo:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.h1 {
    font-size: 50px;
}

.p {
    /* text-align: center;
    display: flex; */
    font-family: OpenSauseOneRegular;
    font-size: 20px;
}

.contenText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
}

.contenTextTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100rem;
}

.img {
    border-radius: 1rem 1rem 0 0 ;
    max-width: 13rem;
    overflow: hidden;
}

.contentImg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100rem;
    height: 21.3rem;
}

.chlidImg {
    display: flex;
}

/* input {
    display: none;
} */

.eachChild {
    border-radius: 1rem;
    background-color: #E1FF01;
    /* background-color: blueviolet; */
}

.eachChild:hover, .img:hover {
    cursor: pointer;
}

.inputRadio {
    display: none;
}

@media (max-width: 1000px) {
    .mainForm {
        width: 88vw;
    }

    .childForm {
        width: 70vw;
    }

    .input {
        font-size: 15px;
        width: 68vw;
    }

    .p {
        font-size: 18px
    }

    .contenText {
        width: 20rem;
    }

    .contenTextTwo {
        width: 20rem;
    }

    .h1 {
        
        font-size: 32px;
    }

    .buttonTwo {
        font-size: 18px;
        width: 68vw;
        height: 3.5rem;
    }

    .contentImg {
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 88vw;
        height: 25rem;
        justify-content: space-evenly;
    }

    .img {
        /* border-radius: 1rem 1rem 0 0 ; */
        max-width: 25vw;
        /* overflow: hidden; */
    }

}