@font-face {
    font-family: OpenSauseOneSemibold;
    src: url("./OpenSauseOne/OpenSauceOne-SemiBold.ttf");
}

@font-face {
    font-family: OpenSauseOneRegular;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Regular.ttf");
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}
  
.inputError {
    border-color: solid red 1px;
    animation: shake 0.5s ease-in-out;
}

.scaleUpCenter {
    border: solid black 1px;
    animation: scaleUpCenter 0.5s;
  }
  
  @keyframes scaleUpCenter {
    0% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1);
    }
}

.mainForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(248, 248, 248);
    width: 91.5vw;
    height: 40vw;
    border-radius: 2rem;
    align-items: center;
}

.childForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vw;
    width: 90vw;
}

.input {
    font-family: OpenSauseOneRegular;
    background: rgb(248, 248, 248);
    /* font-size: 18px; */
    font-size: 1vw;
    /* width: 45rem; */
    width: 38vw;
    text-align: center;
    /* padding-bottom: 10rem ; */
    padding-bottom: 8.5vw;
    /* padding-top: 1rem; */
    padding-top: .8vw;
    border-radius: .8vw;
    resize: none;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: OpenSauseOneSemibold;
    background-color: transparent;
    /* font-size: 18px; */
    font-size: 1vw;
    /* height: 2rem; */
    height: 2vw;
    /* width: 10rem; */
    width: 8.5vw;
    border: 0;
    /* background-color: blue; */
}

.buttonTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
    color: #E1FF01;;
    font-family: OpenSauseOneRegular;
    /* font-size: 20px; */
    font-size: 1.04vw;
    /* width: 28rem; */
    width: 23vw;
    /* height: 4rem; */
    height: 3.3vw;
    /* border-radius: 2rem; */
    border-radius: 2vw;
    border-color: transparent;
}

.buttonTwo:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.h1 {
    /* font-size: 50px; */
    font-size: 2.6vw;
}

.p {
    /* text-align: center;
    display: flex; */
    font-family: OpenSauseOneRegular;
    font-size: 1.04vw;
}

.contenText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
    /* background-color: brown; */
    width: 38vw;
    height: 11.5vw;
}

.contenTextTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.img {
    border-radius: 1rem 1rem 0 0 ;
    width: 12vw;
    overflow: hidden;
}

.contentImg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    /* background-color: blue; */
    /* height: 21.3rem; */
    height: 18vw;
}

.chlidImg {
    display: flex;
}

/* input {
    display: none;
} */

.eachChild {
    border-radius: 1vw;
    background-color: #E1FF01;
}

.eachChild:hover, .img:hover {
    cursor: pointer;
}

.inputRadio {
    display: none;
}

@media (max-width: 914px) {
    .mainForm {
        width: 88vw;
        height: 170vw;
    }

    .childForm {
        width: 70vw;
        height: 170vw;
    }

    .input {
        font-size: 3.5vw;
        width: 68vw;
        height: 30vw;
        border-radius: 4vw;
        padding-top: 3vw;
    }

    .p {
        font-size: 4vw
    }

    .contenText {
        width: 68vw;
        height: 45vw;
        /* background-color: brown; */
    }

    .contenTextTwo {
        width: 80vw;
        /* background-color: aqua; */
    }

    .h1 {
        font-size: 7vw;
    }

    .buttonTwo {
        font-size: 4vw;
        width: 68vw;
        height: 12vw;
        border-radius: 7vw;
    }

    .button {
        font-size: 4vw;
        height: 8vw;
        width: 30vw;
        border: 0;
    }

    .contentImg {
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 88vw;
        height: 80vw;
        justify-content: space-evenly;
    }

    .img {
        /* border-radius: 1rem 1rem 0 0 ; */
        width: 25vw;
        /* overflow: hidden; */
    }

    .eachChild {
        border-radius: 3vw;
    }

    .pImg {
        font-size: 3.5vw;
    }

}

