@font-face {
    font-family: OpenSauseOneRegular;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Regular.ttf");
}

.mainObtain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 233, 233);
    height: 28rem;
    width: 20rem;
}

.divPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    height: 2.5rem;
    width: 7rem;
    border-radius: 2rem;
    border: 1px solid black;
}

.p {
    font-family: OpenSauseOneRegular;
    font-size: 18px;
}

.img {
    max-width: 13rem;
}

@media (max-width: 1000px) {
    .mainObtain {
        /* flex-wrap: wrap; */
        margin-bottom: 7rem;
        height: 22rem;
        width: 20rem;
        justify-content: space-between;
    }

    .divPrice {
        height: 2rem;
        width: 6rem;
    }

    .img {
        max-width: 10rem;
    }

    .h2 {
        width: 20rem;
        font-size: 1.5rem;
    }

    .p {
        margin-top: 0;
        width: 15rem;
        font-size: 14px;
    }

    .containText {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}