.mainObtains {
    margin-top: 8.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 3vw;
    width: 91.5vw;
    /* height: 90rem; */
    height: 75vw;
}

.title {
    font-size: 3.1vw;
    margin-top: 6vw;
    margin-bottom: 4vw;
}

.obtain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 233, 233);
    height: 28vw;
    width: 85vw;
}

.eachObtain {
    /* background-color: black; */
    height: 58vw;
    width: 85vw;
}

@media (max-width: 914px) {
    .mainObtains {
        /* flex-wrap: wrap; */
        margin-top: 18vw;
        width: 88vw;
        /* height: 3620px; */
        height: 770vw;
        border-radius: 7vw;
    }
    
    .title {
        font-size: 9vw;
        margin-top: 15vw;
        margin-bottom: 20vw;
    }
    
    .eachObtain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70vw;
        height: 770vw;
    }

    .obtain {
        width: 70vw;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .obtainResponsive {
        display: flex;
        /* align-content: space-between; */
        /* width: 70vw; */
        /* height: 1400px; */
        height: 300vw;
    }

    .obtainResponsiveTwo {
        display: flex;
        /* align-content: space-between; */
        /* height: 1866px; */
        height: 390vw;
    }
}