@font-face {
    font-family: OpenSauseOneRegular;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Regular.ttf");
}

.mainObtain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 233, 233);
    height: 24vw;
    width: 18vw;
}

.divPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    height: 2vw;
    width: 6vw;
    border-radius: 1vw;
    border: 1px solid black;
    font-size: .8vw;
}

.p {
    font-family: OpenSauseOneRegular;
    font-size: 1vw;
    width: 17vw;
}

.img {
    width: 10vw;
    max-height: 7vw;
}

.h2 {
    /* background-color: aqua; */
    width: 20vw;
    font-size: 1.5vw;
}

.containText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 914px) {
    .mainObtain {
        /* flex-wrap: wrap; */
        /* margin-bottom: 7rem; */
        margin-bottom: 20vw;
        /* background-color: black; */
        height: 72vw;
        width: 85vw;
        justify-content: space-between;
    }

    .divPrice {
        height: 7vw;
        width: 20vw;
        border-radius: 20vw;
        font-size: 3vw;
    }

    .img {
        width: 30vw;
        max-height: 25vw;
    }

    .h2 {
        /* background-color: black; */
        width: 85vw;
        /* font-size: 1.5rem; */
        font-size: 5.5vw;
    }

    .p {
        margin-top: 0;
        width: 60vw;
        font-size: 3.5vw;
    }

    .containText {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width: 480px) and (max-width: 914px) {
    .mainObtain {
        margin-bottom: 7rem;
        height: 21rem;
        width: 23rem;
        justify-content: space-between;
    }

    .divPrice {
        box-sizing: border-box;
        height: 2rem;
        width: 6rem;
        border-radius: 1rem;
        font-size: 1rem;
    }

    .img {
        width: 10rem;
        max-height: 8rem;
    }

    .h2 {
        width: 23rem;
        font-size: 1.5rem;
    }

    .p {
        margin-top: 0;
        width: 15rem;
        font-size: .9rem;
    }
}