@font-face {
    font-family: OpenSauseOneRegular;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Regular.ttf");
}

/* @font-face {
    font-family: OpenSauseOne;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Bold.ttf");
} */

.mainTutorial {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.childTutorial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(233, 233, 233);
    height: 29rem;
    /* width: 58rem; */
    width: 48.5vw;
    border-radius: 25px;
    margin-top: 2rem;
}

.title {
    /* font-family: OpenSauseOne; */
    font-size: 60px;
}

.contentH2 {
    font-size: 1.4rem;
    color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background-color: rgb(17, 17, 17);
}

.h2 {
    /* font-family: OpenSauseOne; */
    font-size: 1.78rem;
    margin-bottom: 0px;
}

.mainText {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    width: 22rem;
    height: 20rem;
    font-size: 18px;
}

.p {
    font-family: OpenSauseOneRegular;
    line-height: 1.6rem;
    margin-top: 0px;
}

@media (max-width: 914px) {
    .mainTutorial {
        margin-top: 3rem;
    }

    .childTutorial {
        flex-direction: column-reverse;
        align-items: flex-start;
        /* width: 58rem; */
        padding-left: 2rem;
        width: 80.3vw;
        position: relative;
    }

    .title {
        font-size: 40px;
    }

    .img {
        margin-top: 2rem;
        /* position: absolute; */
        max-width: 12rem;
        /* : -20px */
    }

    .contentH2 {
        position: absolute;
        left: 72vw;
        top: 1.5rem;
        font-size: 1.1rem;
        width: 3rem;
        height: 3rem;
    }

    .mainText {
        width: 70vw;
        justify-content: center;
        /* height: 1rem; */
        /* text-align: center;s */
    }

    .p {
        font-size: 14px;

        margin-top: 15px;
    }

    .contentImg {
        display: flex;
        width: 70vw;
    }

    .h2 {
        font-size: 1.5rem;
    }
}