@font-face {
    font-family: OpenSauseOneRegular;
    src: url("../styles/OpenSauseOne/OpenSauceOne-Regular.ttf");
}

.mainTutorial {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.childTutorial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(233, 233, 233);
    height: 29rem;
    /* width: 58rem; */
    width: 48.5vw;
    border-radius: 25px;
    margin-top: 2rem;
}

.title {
    font-size: 60px;
}

.contentH2 {
    font-size: 1.4rem;
    color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background-color: rgb(17, 17, 17);
}

.h2 {
    font-size: 1.78rem;
    margin-bottom: 0px;
}

.mainText {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    width: 23rem;
    height: 20rem;
    font-size: 18px;
}

.p {
    font-family: OpenSauseOneRegular;
    line-height: 1.6rem;
    margin-top: 0px;
}

@media (max-width: 1360px) {
    .childTutorial {
        /* width: 58rem; */
        width: 88vw;
    }

    .title {
        font-size: 2.5rem;
    }
}