@font-face {
  font-family: OpenSauseOneBold;
  src: url("../src/styles/OpenSauseOne/OpenSauceOne-Bold.ttf");
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  /* margin: 0 auto; */
  text-align: center;
  font-family: OpenSauseOneBold;
}

.icon {
  width: 32px;
  height: 32px;
}