@font-face {
  font-family: OpenSauseOne;
  src: url("./styles/OpenSauseOne/OpenSauceOne-Bold.ttf");
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  /* margin: 0 auto; */
  text-align: center;
  font-family: OpenSauseOne;
}
